@tailwind base;
@tailwind components;
@tailwind utilities;

.customBg1 {
  background-color: #070f2b;
}

.customBg2 {
  background-color: #1b1a55;
}

.customBg3 {
  background-color: #535c91;
}

.customBg4 {
  background-color: #9290c3;
}

.customText1 {
  color: #070f2b;
}

.customText2 {
  color: #1b1a55;
}

.customText3 {
  color: #535c91;
}

.customText4 {
  color: #9290c3;
}
